.git
.github
.gitignore
.next
node_modules
npm-debug.log
.env
.env.local
.env.production.local
.env.development.local
README.md
.DS_Store
.vscode
.idea
*.md
docker-compose.yml
Dockerfile
.dockerignore
coverage
.cache
dist
